/*body {
    background-color: #f8f9fa;
    font-family: 'Microsoft Sans Serif', sans-serif;

}

.container {*/
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/ /* Set the container height to full viewport height */
/*}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/ /* Set the container height to full viewport height */
/*}

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;*/ /* Add space between items */
/*}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

    .card-horizontal img {
        width: 200px;
        height: auto;
        object-fit: cover;
        border-radius: 15px 0 0 15px;
    }

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;*/ /* Add space between text elements */
/*}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 5px;*/ /* Adjust spacing */
/*}

.card-text {
    margin-bottom: 5px;*/ /* Adjust spacing */
/*}

.btn-rounded {
    border-radius: 25px;*/ /* Adjust the radius as needed for the desired roundness */
    /*padding: 10px 20px;*/ /* Adjust padding for better button size */
    /*font-size: 1rem;*/ /* Adjust font size as needed */
    /*color: white;*/ /* Text color */
    /*background-color: #1a73e8;*/ /* Background color */
    /*border: none;*/ /* Remove border */
    /*transition: background-color 0.3s, color 0.3s;
}

    .btn-primary:hover {
        background-color: #155cb0;
        border-color: #155cb0;
    }

.text-center {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.input-group {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

    .input-group .form-control {
        border-radius: 0;
        height: 45px;
        font-size: 1rem;
    }

.input-group-append .btn {
    border-radius: 0;
    height: 45px;
}

.search-input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
}

.form-group {
    margin-bottom: 15px;
}

.form-check-label {
    margin-left: 5px;
}

.shadow-sm {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shadow-lg {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.text-center a {
    font-size: 10px;
}*/